services:
  admin:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      AccessKeyID: ${AccessKeyID}
      SecretAccessKey: ${SecretAccessKey}
      PORT: 5173
